# Virtual environment
bin/
include/
lib/
share/
pyvenv.cfg
.env

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Cache
.cache.sqlite
.cache/

# macOS
.DS_Store

# Logs
prediction_logs/

# IDE
.idea/
.vscode/

# Test images
*.png.DS_Store
*.sqlite
pyvenv.cfg
bin/
share/
__pycache__/
.ipynb_checkpoints/
